body {
    padding-top: 30px;
    font-family: 'Cabin', sans-serif;
}
.header {
  text-align: left;
}
.msgArea {
    padding-top: 1em;
    padding-left: 1em;
}
.resultsArea {
    display: inline-block;
}
.form-inline input {
    width: 100%;
}
.image {
    margin: 1em 1em;
    border: lightgrey solid 1px
}
.resultsArea.ng-enter, .resultsArea.ng-leave {
    -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: inline-block;
    /*overflow: hidden;*/
    text-overflow: clip;
    white-space: nowrap;
}
.resultsArea.ng-leave.resultsArea.ng-leave-active, .resultsArea.ng-enter {
    opacity: 0;
}
.resultsArea.ng-enter.ng-enter-active, .resultsArea.ng-leave {
    opacity: 1;
}
.resultsArea.ng-enter-stagger {
    transition-delay: 0.05s;
}
.resultsArea.ng-leave-stagger {
    transition-delay: 0.05s;
}
